body {
    font-family: 'Montserrat', sans-serif;
    background: url('/static/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.navbar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

h1 {
    margin-bottom: 30px;
    color: #fff;
}

.btn-custom {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
}

.btn-custom:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.form-control {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: #fff;
}

.form-control::placeholder {
    color: #ccc;
}

.form-control:focus {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.label {
    font-size: 1.2em;
    color: #fff;
}

.progress-bar {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-brand {
    font-weight: bold;
}

.btn-block {
    width: 100%;
}

textarea {
    resize: none;
}

select.form-control option {
    color: #000;
    background-color: #fff;
}

.interface-wrapper {
    zoom: 0.7;
}


.format-badges {
    margin-top: 15px;
}

.badge-format {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9rem;
    margin-right: 10px;
}

.drag-drop-zone {
    border: 2px dashed rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
}

.drag-drop-zone.dragover {
    background-color: rgba(255, 255, 255, 0.2);
}

.file-list {
    list-style: none;
    padding: 0;
}

.file-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

.remove-file {
    color: #ff0000;
    cursor: pointer;
    font-weight: bold;
}

.url-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.url-section input {
    flex: 1;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.url-section button {
    margin-left: 10px;
}

.note {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
}