<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Шаг 3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body onload="window.location.href='/process'">
    <div class="container text-center mt-5">
        <div class="glass-card p-5">
            <h1 class="mb-4">Шаг 3</h1>
            <p class="lead">Идёт обработка, пожалуйста, подождите...</p>
            <a href="/reset" class="btn btn-custom btn-lg btn-block">Отмена</a>
        </div>
    </div>
</body>
</html>
